<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAppServiceService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8733/AppServiceService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAppServiceService"
                contract="SR_Synchronizer.IAppServiceService" name="NetTcpBinding_IAppServiceService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>