<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LocalDbEntities" 
         connectionString="
              metadata=&quot;
                res://*/Local Database.LocalModel.csdl|
                res://*/Local Database.LocalModel.ssdl|
                res://*/Local Database.LocalModel.msl&quot;;
              provider=System.Data.SqlClient;
              provider connection string=&quot;
                data source=(LocalDB)\MSSQLLocalDB;
                attachdbfilename=|DataDirectory|\LocalDb.mdf;
                integrated security=True;
                connect timeout=30;
                MultipleActiveResultSets=True;
                App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>